<div class="container">
    <div class="personal-info">
        <p>Luiso Vázquez is a multidisciplinary<br> graphic designer based in Madrid, Spain.</p>
        <p>His work combines strong concepts with rational methodologies and design thinking to provide nice solutions to small business, brands and individuals.</p>
    </div>
        <div class="info-container">
            <app-menu-info [menuItemsInfo]="itemsInfo"></app-menu-info>
            <br><br>
            <p>Contact</p>
            <ul>
                <a href="mailto:hola@luisovazquez.es">
                    <li>E-Mail</li>
                </a>
                <a href="https://www.instagram.com/luisovazquez.es/" target="_blank">
                    <li>Instagram</li>
                </a>
                <a href="https://www.behance.net/luisovazquez" target="_blank">
                    <li>Behance</li>
                </a>
            </ul>
        </div>
</div>
